@use '../custom' as *;
.services {
  position: relative;
  padding: 1rem 0;
  .services_content {
    padding: 1rem;
    margin-top: 0;
    p {
      font-size: 0.8rem;
      @include media-breakpoint-up(lg) {
        font-size: 1rem;
      }
    }
    @include media-breakpoint-up(lg) {
      margin-top: 3rem;
    }
    .logoof {
      width: 1.5rem;
      height: 1.5rem;
      @include media-breakpoint-up(lg) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
  &_pic {
    max-width: 100%;
  }
}